<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
    <body>
        <%- include("partials/header.ejs") %>
        <h1>User list</h1>
        <ul>
            <% for( let i = 0; i < usersResults.length; i++) { %>
                <li>
                    <a href ="/usuarios/detalle/<%= usersResults[i].id %>"> <%= usersResults[i].name %></a>
                </li>
            <% } %>    
        </ul>
        <h2>Search</h2>
        <form action ="/usuarios/buscar" method="GET">
            <input type="text" name = "query">
            <input type="submit" value="Search">
        </form>

    </body>
    <%- include("partials/footer.ejs") %>
</html>
