<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel ="icon" href="/img/logo-mercado-liebre.ico">
        <title>Registro</title>
        <link rel="stylesheet" href="/css/registro-style.css">
    </head>
    <%- include("../partials/head.ejs") %>
    <body>
        <div class = "contenedor-logo-registro">
            <a href = "/"><img src = "/img/logo-mercado-liebre.svg" class = "logo-registro" width="200px"></a>
        </div>   
        <main>
            <div class="container">
                <section>
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <h1>Formulario de Registro</h1> 
                            <form action="/users/" method="POST">
                                
                                <div class="mb-3">
                                    <label for="nombre"><b>Nombre:</b></label>
                                    <input  
                                        type="text"
                                        name="nombre" 
                                        class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : 'null' %>"
                                        value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                                    <% if (locals.errors && errors.nombre) { %>
                                    <div class="invalid-feedback">
                                        <%= errors.nombre.msg %>
                                    </div>
                                    <% } %>  
                                </div>

                                <div class="mb-3">
                                    <label for="apellido"><b>Apellido:</b></label>
                                    <input  
                                        type="text"
                                        name="apellido" 
                                        class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : 'null' %>"
                                        value="<%= locals.old && old.apellido ? old.apellido : '' %>">
                                    <% if (locals.errors && errors.apellido) { %>
                                    <div class="invalid-feedback">
                                        <%= errors.apellido.msg %>
                                    </div>
                                    <% } %>  
                                </div>

                                <div class="mb-3">
                                    <label for="email"><b>Email:</b></label>
                                    <input  
                                        type="text"
                                        name="email" 
                                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : 'null' %>"
                                        value="<%= locals.old && old.email ? old.email : '' %>">
                                    <% if (locals.errors && errors.email) { %>
                                    <div class="invalid-feedback">
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>  
                                </div>

                                <div class="mb-3">
                                    <label for="password"><b>Contraseña:</b></label>
                                    <input  
                                        type="password"
                                        name="password" 
                                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : 'null' %>"
                                        value="<%= locals.old && old.password ? old.password : '' %>">
                                    <% if (locals.errors && errors.password) { %>
                                    <div class="invalid-feedback">
                                        <%= errors.password.msg %>
                                    </div>
                                     <% } %>  
                                </div>

                                <div class="mb-3">
                                    <label for="category"><b>Categoría:</b></label>
                                    <select name ="category" class="form-select <%= locals.errors && errors.category ? 'is-invalid' : 'null' %>">
                                        <option value="">Seleccione una categoria</option>
                                        <option value="vendedor" <%= locals.old && old.category === 'vendedor' ? 'selected' : '' ; %>>Vendedor</option>
                                        <option value="comprador" <%= locals.old && old.category === 'comprador' ? 'selected' : '' ; %>>Comprador</option>  
                                    </select>
                                    <% if (locals.errors && errors.category) { %>
                                        <div class="invalid-feedback">
                                            <%= errors.category.msg %>
                                        </div>
                                    <% } %> 
                                  </div>
                                <div>
                                    <p>¿Ya tienes cuenta en Mercado Liebre? </p>
                                    <p><a href="/users/login">Ingresa con tu cuenta de Mercado Liebre</a></p>
                                </div>  
                                <div class="mb-3">
                                    <button class="btn btn-primary" type="submit" >Crear Usuario</button>
                                </div>
                            </form>  
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <div class = "ultima-parte-footer">
            <br>
            <p class = "copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </div>
    </body>
</html>