<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/crearProducto-style.css">
    <%- include("../partials/head.ejs") %>
    <title>Creacion de Producto</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <br>
    <div class = "form-create-product">
        <div class = "columns is-centered">
            <div class="column is-6">
                <h2>Formulario de nuevo producto</h2>
                <form action="/productos/crear" method="POST" enctype="multipart/form-data" >

                    <div class="mb-3">
                        <label for="nombre">Nombre del Producto</label>
                        <input  
                            type="text"
                            name="nombre" 
                            class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : 'null' %>"
                            value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                        <% if (locals.errors && errors.nombre) { %>
                        <div class="invalid-feedback">
                            <%= errors.nombre.msg %>
                        </div>
                    <% } %>  
                    </div>

                    <div class="mb-3">
                        <label for="description">Descripcion</label>
                        <input  
                            type="text"
                            name="description" 
                            class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %>"
                            value="<%= locals.old && old.description ? old.description : '' %>">
                        <% if (locals.errors && errors.description) { %>
                        <div class="invalid-feedback">
                            <%= errors.description.msg %>
                        </div>
                    <% } %>  
                    </div>

                    <div class="mb-3">
                        <label for="productImage">Imagen del producto</label>
                        <input 
                            type="file" 
                            name="productImage"
                            class="form-control <%= locals.errors && errors.productImage ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.productImage) { %>
                            <div class="invalid-feedback">
                                <%= errors.productImage.msg %>
                            </div>
                        <% } %>  
                    </div>
                    <div class="mb-3">
                        <label for="category">Categoria</label>
                        <input  
                            type="text"
                            name="category" 
                            class="form-control <%= locals.errors && errors.category ? 'is-invalid' : null %>"
                            value="<%= locals.old && old.category ? old.category : '' %>">
                        <% if (locals.errors && errors.category) { %>
                        <div class="invalid-feedback">
                            <%= errors.category.msg %>
                        </div>
                        <% } %>  
                    </div>

                    <div class="mb-3">
                        <label for="price">Precio</label>
                        <input  
                            type="text"
                            name="price" 
                            class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                            value="<%= locals.old && old.price ? old.price : '' %>">
                        <% if (locals.errors && errors.price) { %>
                        <div class="invalid-feedback">
                            <%= errors.price.msg %>
                        </div>
                    <% } %>  
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Crear producto</button>
                    </div>
                    
                </form>
                    
            </div>
        </div>
    </div>
    <br>
    <div class = "ultima-parte-footer">

        <br>
        <p class = "copyright-footer">Copyright © Tienda Golf Eos S.R.L.</p>
        
    </div>    
</body>
</html>