<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/listaProductos-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <title>Todos los Productos</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <h1> Lista de Productos</h1>
    <ul class = "lista-productos">
        <% for ( let i = 0; i < productos.length; i++) { %>
            <div class="card" style="width: 18rem;">
                <img src="/img/productos/<%= productos.imagen ? productos.imagen : 'default-image.jpeg' %>" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><%= productos[i].nombre %></h5>
                  <p class="card-text"> <%= productos[i].descripcion %></p>
                  <a href="productos/detalle/<%= productos[i].id %> " class="btn btn-primary">Ver Detalle</a>
                </div>
              </div>
        <% } %>    
    </ul>    
    <%- include("../partials/footer.ejs") %>
</body>
</html>